<mat-toolbar><span class="title">{{title}}</span></mat-toolbar>
<div class="content-wrapper">
  <div class="content">
    <mat-card *ngIf="fineForm">
      <form [formGroup]="fineForm.form" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput placeholder="Description" formControlName="description" [errorStateMatcher]="matcher">
            <mat-error *ngIf="fineForm.description.hasError('required')" class="alert alert-danger">
              <div>Required</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="User" formControlName="user" [errorStateMatcher]="matcher">
            <mat-error *ngIf="fineForm.userId.hasError('required')" class="alert alert-danger">
              <div>Required</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Amount" formControlName="amount" [errorStateMatcher]="matcher">
            <mat-error *ngIf="fineForm.amount.hasError('required') || fineForm.amount.hasError('pattern')" class="alert alert-danger">
              <div *ngIf="fineForm.amount.hasError('required')">Required</div>
              <div *ngIf="fineForm.amount.hasError('pattern')">Must be numeric</div>
            </mat-error>
          </mat-form-field>
        <button mat-raised-button color="primary" type="submit">{{action}}</button>
      </form>
      <button mat-raised-button class="back" (click)="goBack()">Back</button>
    </mat-card>
  </div>
</div>
