<mat-toolbar><span class="title">{{title}}</span></mat-toolbar>
<div class="content-wrapper">
  <div class="content">
    <mat-card *ngIf="hasFinesboards; else joinFinesboard">
      <form [formGroup]="fineForm.form" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-select placeholder="Finesboard" formControlName="finesboard" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let finesboard of finesboards" [value]="finesboard" >{{finesboard.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="fineForm.finesboard.hasError('required')" class="alert alert-danger">
              <div>Required</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select  matInput placeholder="User" formControlName="user" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let user of users" [value]="user" >{{user.username}}</mat-option>
            </mat-select>
            <mat-error *ngIf="fineForm.user.hasError('required')" class="alert alert-danger">
              <div>Required</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Offence" formControlName="offence" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let offence of offences" [value]="offence">{{offence.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="fineForm.offence.hasError('required')" class="alert alert-danger">
              <div>Required</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Forfeit" formControlName="forfeit" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let forfeit of forfeits" [value]="forfeit">{{forfeit.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="fineForm.forfeit.hasError('required')" class="alert alert-danger">
              <div>Required</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Reason" formControlName="reason" [errorStateMatcher]="matcher">
            <mat-error *ngIf="fineForm.reason.hasError('required')" class="alert alert-danger">
              <div>Required</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Amount" formControlName="amount" [errorStateMatcher]="matcher">
            <mat-error *ngIf="fineForm.amount.hasError('required') || fineForm.amount.hasError('pattern')" class="alert alert-danger">
              <div *ngIf="fineForm.amount.hasError('required')">Required</div>
              <div *ngIf="fineForm.amount.hasError('pattern')">Must be numeric</div>
            </mat-error>
          </mat-form-field>
        <button mat-raised-button color="primary" type="submit">{{action}}</button>
      </form>
      <button mat-raised-button class="back" (click)="goBack()">Back</button>
    </mat-card>
    <ng-template #joinFinesboard>
      <p id="join-finesboard-massage">You are not a member of any active finesboards.<br/>Join a finesboard from the <a routerLink="/finesboards" routerLinkActive="router-link-active">Explore finesboards</a> page.</p>
    </ng-template>
  </div>
</div>
