/deep/ .mat-footer-cell .mat-form-field-wrapper {    
    margin: 0 5px; 
}
mat-expansion-panel {
    margin: 0 0 16px 0
}
mat-card mat-card {
    width: auto;
    margin: 16px;
    clear: left;
}
mat-card mat-form-field {
    max-width: 400px;
    float: left;
    margin: 0 5px;
}
.forfeits-table-container {
    width: 100%;
    max-height: 430px;
    overflow: auto;
}
.forfeits-form-container {
    width: 100%;
}
.forfeits-form-container mat-form-field {
    max-width: 325px;
    float: left;
    margin: 0 5px;
}
.submit-forfeit-button {
    float: right;
    clear: none;
}