<mat-toolbar><span class="title">Fines</span></mat-toolbar>
<div class="content-wrapper">  
  <div class="content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{name}}</mat-card-title>
        <mat-card-subtitle>finesboard</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table mat-table *ngIf="fines" [dataSource]="fines">
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let fine">{{fine.target.username}}</td>
          </ng-container>
          <ng-container matColumnDef="offence">
            <th mat-header-cell *matHeaderCellDef>Offence</th>
            <td mat-cell *matCellDef="let fine">{{fine.offence.name}}</td>
          </ng-container>
          <ng-container matColumnDef="forfeit">
            <th mat-header-cell *matHeaderCellDef>Forfeit</th>
            <td mat-cell *matCellDef="let fine">{{fine.forfeit.name}}</td>
          </ng-container>
          <ng-container matColumnDef="finedBy">
            <th mat-header-cell *matHeaderCellDef>Fined By</th>
            <td mat-cell *matCellDef="let fine">{{fine.creator.username}}</td>
          </ng-container>
          <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef>Reason</th>
            <td mat-cell *matCellDef="let fine">{{fine.reason}}</td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let fine" >{{fine.amount}} {{fine.finesboard.currency}}</td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let fine" class="table-icon-link">
              <button mat-button routerLink="./update/{{fine.id}}" routerLinkActive="router-link-active"><mat-icon color="black">edit</mat-icon></button>
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let fine" class="table-icon-link">
              <button mat-button (click)="onDelete(fine)"><mat-icon color="black">delete</mat-icon></button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let fine, columns: displayColumns"></tr>
        </table>
        <button mat-raised-button routerLink="./add" routerLinkActive="router-link-active" color="primary" *ngIf="isFinesboardActive()">Add</button>
        <button mat-raised-button class="back" (click)="goBack()">Back</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
