<mat-toolbar><span class="title">Add Offence</span></mat-toolbar>
<div class="content-wrapper">
  <div class="content">
    <mat-card *ngIf="offenceForm">
      <mat-card-header>
        <mat-card-title>Add Offence</mat-card-title>
        <mat-card-subtitle>create new offence</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>  
        <form id="offence-form" [formGroup]="offenceForm.form" (ngSubmit)="onSubmitOffence()">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
            <mat-error *ngIf="offenceForm.name.hasError('required')" class="alert alert-danger">
              <div>Required</div>
            </mat-error>
          </mat-form-field>
        </form>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Link Forfeits</mat-card-title>
            <mat-card-subtitle>
              <span *ngIf="!missingForfeits">link forfeits to offence</span>
              <mat-error *ngIf="missingForfeits" class="alert alert-danger">
                <div>Select at least 1 forfeit for offence</div>
              </mat-error>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>   
            <div class="forfeits-table-container">
              <table mat-table [dataSource]="linkedForfeits">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let linkedForfeit">{{linkedForfeit.name}}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef>Amount</th>
                  <td mat-cell *matCellDef="let linkedForfeit">{{linkedForfeit.amount}}</td>
                </ng-container>
                <ng-container matColumnDef="unlink">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let linkedForfeit" class="table-icon-button">
                    <button mat-button (click)="onUnlinkForfeit(linkedForfeit)" class="mat-icon-button"><mat-icon color="black">remove_circle</mat-icon></button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['name','amount','unlink']; sticky: true"></tr>
                <tr mat-row *matRowDef="let finesboard, columns: ['name','amount','unlink']"></tr>
              </table>
            </div>   
          </mat-card-content>
        </mat-card>  
        <mat-card>
          <mat-card-header>
            <mat-card-title>Available Forfeits</mat-card-title>
            <mat-card-subtitle>forfeits not linked to offence</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content> 
            <div class="forfeits-form-container">
              <form [formGroup]="forfeitForm.form" #f="ngForm" (ngSubmit)="onSubmitForfeit(f)">
                <mat-form-field>
                  <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="forfeitForm.name.hasError('required')" class="alert alert-danger">
                    <div>Required</div>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="number" placeholder="Amount" formControlName="amount" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="forfeitForm.amount.hasError('required')" class="alert alert-danger">
                    <div>Required</div>
                  </mat-error>
                </mat-form-field>
                <button class="submit-forfeit-button" mat-raised-button color="primary" type="submit">Add</button>
              </form>  
            </div>
            <div class="forfeits-table-container">
              <table mat-table [dataSource]="unlinkedForfeits">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let unlinkedForfeit">{{unlinkedForfeit.name}}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef>Amount</th>
                  <td mat-cell *matCellDef="let unlinkedForfeit">{{unlinkedForfeit.amount}}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let unlinkedForfeit"></td>
                </ng-container>
                <ng-container matColumnDef="addSelect">
                  <th mat-header-cell *matHeaderCellDef></th>
                </ng-container>
                <ng-container matColumnDef="link">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let unlinkedForfeit" class="table-icon-button">
                    <button mat-button (click)="onLinkForfeit(unlinkedForfeit)" class="mat-icon-button"><mat-icon color="black">add_circle</mat-icon></button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['name','amount','action','link']; sticky: true"></tr>
                <tr mat-row *matRowDef="let finesboard, columns: ['name','amount','action','link']"></tr>
              </table>
            </div>   
          </mat-card-content>
        </mat-card>   
        <button mat-raised-button color="primary" type="submit" form="offence-form">Submit</button>
        <button mat-raised-button (click)="goBack()">Back</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
