<mat-toolbar><span class="title">Users</span></mat-toolbar>
<div class="content-wrapper">  
  <div class="content">
    <mat-card>
      <mat-card-content>
        <table mat-table *ngIf="users" [dataSource]="users">
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let user">
              <a routerLink="./{{user.id}}/configuration" routerLintActive="router-link-active">{{user.username}}</a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let user, columns: displayColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
