<mat-toolbar><span class="title">Register</span></mat-toolbar>
<div class="content-wrapper">
  <div class="content">
    <mat-card *ngIf="registrationForm">
      <form [formGroup]="registrationForm.form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher" autocomplete="username">
          <mat-error *ngIf="registrationForm.username.hasError('required')" class="alert alert-danger">
            <div>Required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="password" [errorStateMatcher]="matcher" autocomplete="new-password">
          <button mat-icon-button matSuffix type="button" (click)="onToggleHidePassword()">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="registrationForm.password.hasError('required')" class="alert alert-danger">
            <div>Required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [type]="hidePasswordConfirmation ? 'password' : 'text'" placeholder="Confirm password" formControlName="passwordConfirmation" [errorStateMatcher]="confirmPasswordMatcher" autocomplete="new-password">
          <button mat-icon-button matSuffix type="button" (click)="onToggleHidePasswordPasswordConfirmation()">
            <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="registrationForm.passwordConfirmation.hasError('required'); else checkPasswordMismatch" class="alert alert-danger">
            <div>Required</div>
          </mat-error>
          <ng-template #checkPasswordMismatch>
            <mat-error *ngIf="registrationForm.form.hasError('passwordMismatch')" class="alert alert-danger">
              <div>Passwords do not match</div>
            </mat-error>
          </ng-template>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </mat-card>
  </div>
</div>
