<mat-toolbar><span class="title">Add Forfeit</span></mat-toolbar>
<div class="content-wrapper">
  <div class="content">
    <mat-card *ngIf="forfeitForm">
      <form [formGroup]="forfeitForm.form" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
            <mat-error *ngIf="forfeitForm.name.hasError('required')" class="alert alert-danger">
              <div>Required</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Amount" formControlName="amount" [errorStateMatcher]="matcher">
            <mat-error *ngIf="forfeitForm.amount.hasError('required')" class="alert alert-danger">
              <div>Required</div>
            </mat-error>
          </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
      <button mat-raised-button class="back" (click)="goBack()">Back</button>
    </mat-card>
  </div>
</div>
