<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>
  <p>{{message}}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onConfirm()" color="primary">Ok</button>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
</div>