<mat-toolbar><span class="title">Finesboards</span></mat-toolbar>
<div class="content-wrapper">  
  <div class="content">
    <mat-card>
      <mat-tab-group>
        <mat-tab label="My finesboards" *ngIf="displayMyFinesboards">
          <table mat-table [dataSource]="myFinesboards">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let finesboard">
                <a routerLink="./{{finesboard.id}}/fines" routerLintActive="router-link-active">{{finesboard.name}}</a>
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let finesboard">
                <a>{{finesboard.status.description}}</a>
              </td>
            </ng-container>
            <ng-container matColumnDef="member">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let finesboard" class="table-icon-button">
                <button mat-button (click)="onLeaveFinesboard(finesboard)" class="mat-icon-button" *ngIf="canLeaveFinesboard(finesboard)"><mat-icon color="black">remove_circle</mat-icon></button>
              </td>
            </ng-container>
            <ng-container matColumnDef="configuration">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let finesboard" class="table-icon-link">
                <button mat-button routerLink="./{{finesboard.id}}/configuration" routerLinkActive="router-link-active" class="mat-icon-button"><mat-icon color="black">settings</mat-icon></button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="myDisplayColumns"></tr>
            <tr mat-row *matRowDef="let finesboard, columns: myDisplayColumns"></tr>
          </table>
        </mat-tab>mat-tab>
        <mat-tab label="Explore finesboards">
          <table mat-table *ngIf="exploreFinesboards" [dataSource]="exploreFinesboards">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let finesboard">
                <a *ngIf="isAdmin; else noLink" routerLink="./{{finesboard.id}}/fines" routerLintActive="router-link-active">{{finesboard.name}}</a>
                <ng-template #noLink>
                  {{finesboard.name}}
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let finesboard">
                <a>{{finesboard.status.description}}</a>
              </td>
            </ng-container>
            <ng-container matColumnDef="member">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let finesboard" class="table-icon-button">
                <button mat-button (click)="onJoinFinesboard(finesboard)" class="mat-icon-button" *ngIf="canJoinFinesboard(finesboard)"><mat-icon color="black">add_circle</mat-icon></button>
                <button mat-button (click)="onLeaveFinesboard(finesboard)" class="mat-icon-button" *ngIf="canLeaveFinesboard(finesboard)"><mat-icon color="black">remove_circle</mat-icon></button>
              </td>
            </ng-container>
            <ng-container matColumnDef="configuration">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let finesboard" class="table-icon-button">
                <button mat-button routerLink="./{{finesboard.id}}/configuration" routerLinkActive="router-link-active" class="mat-icon-button"><mat-icon color="black">settings</mat-icon></button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="exploreDisplayColumns"></tr>
            <tr mat-row *matRowDef="let finesboard, columns: exploreDisplayColumns"></tr>
          </table>
        </mat-tab>mat-tab>
      </mat-tab-group>
      <button mat-raised-button routerLink="./add" routerLinkActive="router-link-active" color="primary" *ngIf="isAdmin">Add</button>
    </mat-card>
  </div>
</div>
