<mat-toolbar><span class="title">User Configuration</span></mat-toolbar>
<div class="content-wrapper">
  <div class="content">
    <mat-card>
      <div *ngIf="user">
        <mat-card-header>
          <mat-card-title>{{user.username}} </mat-card-title>
          <mat-card-subtitle>username</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Change password
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="changePasswordForm.form" (ngSubmit)="onSubmit()">
              <mat-form-field>
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="password" [errorStateMatcher]="matcher" autocomplete="new-password">
                <button mat-icon-button matSuffix type="button" (click)="onToggleHidePassword()">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="changePasswordForm.password.hasError('required')" class="alert alert-danger">
                  <div>Required</div>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput [type]="hidePasswordConfirmation ? 'password' : 'text'" placeholder="Confirm password" formControlName="passwordConfirmation" [errorStateMatcher]="confirmPasswordMatcher" autocomplete="new-password">
                <button mat-icon-button matSuffix type="button" (click)="onToggleHidePasswordPasswordConfirmation()">
                  <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="changePasswordForm.passwordConfirmation.hasError('required'); else checkPasswordMismatch" class="alert alert-danger">
                  <div>Required</div>
                </mat-error>
                <ng-template #checkPasswordMismatch>
                  <mat-error *ngIf="changePasswordForm.form.hasError('passwordMismatch')" class="alert alert-danger">
                    <div>Passwords do not match</div>
                  </mat-error>
                </ng-template>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit">Submit</button>
            </form>   
          </mat-expansion-panel>      
        </mat-card-content>
        <button mat-raised-button class="back" (click)="goBack()">Back</button>
      </div>
    </mat-card>
  </div>
</div>
