mat-expansion-panel+mat-expansion-panel {
    margin: 16px 0 0 0
}
mat-card mat-form-field {
    max-width: 400px;
    float: left;
    clear: left;
    margin: 0 5px;
}
.activate-button {
    float: left;
    clear: right;
}