<mat-toolbar><span class="title" *ngIf="finesboard">Finesboard Configuration</span></mat-toolbar>
<div class="content-wrapper">
  <div class="content">
    <mat-card>
      <div *ngIf="finesboard">
        <mat-card-header>
          <mat-card-title>{{finesboard.name}} </mat-card-title>
          <mat-card-subtitle>finesboard </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Status" value="{{finesboard.status.description}}" readonly>
          </mat-form-field> 
          <button class="activate-button" mat-raised-button (click)="onActivate()" color="accent" *ngIf="canActivate()">Activate</button>
          <button class="activate-button" mat-raised-button (click)="onDeactivate()" color="primary" *ngIf="canDeactivate()">Deactivate</button>
          <mat-form-field>
            <input matInput placeholder="Currency" value="{{finesboard.currency}}" readonly>
          </mat-form-field> 
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Offences
              </mat-panel-title>
              <mat-panel-description>
                manage finesboard offences
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table mat-table *ngIf="finesboard.offences" [dataSource]="finesboard.offences">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let offence">
                  {{offence.name}}
                </td>
              </ng-container>
              <ng-container matColumnDef="forfeits">
                <th mat-header-cell *matHeaderCellDef>Forfeits</th>
                <td mat-cell *matCellDef="let offence">
                  <mat-chip-list>
                    <mat-chip *ngFor="let forfeit of offence.forfeits">{{forfeit.name}}</mat-chip>
                  </mat-chip-list>
                </td>
              </ng-container>
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let offence" class="table-icon-link">
                  <button mat-button routerLink="./offences/{{offence.id}}/update" routerLinkActive="router-link-active" class="mat-icon-button"><mat-icon color="black">edit</mat-icon></button>
                </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let offence" class="table-icon-button">
                  <button mat-button (click)="onDeleteOffence(offence)" class="mat-icon-button"><mat-icon color="black">delete</mat-icon></button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="['name','forfeits','edit','delete']"></tr>
              <tr mat-row *matRowDef="let offence, columns: ['name','forfeits','edit','delete']"></tr>
            </table>
            <button mat-raised-button routerLink="./offences/add" routerLinkActive="router-link-active" color="primary">Add</button>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Forfeits
              </mat-panel-title>
              <mat-panel-description>
                manage finesboard forfeits
              </mat-panel-description>
            </mat-expansion-panel-header>          
            <table mat-table *ngIf="finesboard.forfeits" [dataSource]="finesboard.forfeits">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let forfeit">
                  {{forfeit.name}}
                </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let forfeit">
                  {{forfeit.amount}} {{finesboard.currency}}
                </td>
              </ng-container>
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let forfeit" class="table-icon-button">
                  <button mat-button routerLink="./forfeits/{{forfeit.id}}/update" routerLinkActive="router-link-active" class="mat-icon-button"><mat-icon color="black">edit</mat-icon></button>
                </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let forfeit" class="table-icon-button">
                  <button mat-button (click)="onDeleteForfeit(forfeit)" class="mat-icon-button"><mat-icon color="black">delete</mat-icon></button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="['name','amount','edit','delete']"></tr>
              <tr mat-row *matRowDef="let forfeit, columns: ['name','amount','edit','delete']"></tr>
            </table>
            <button mat-raised-button routerLink="./forfeits/add" routerLinkActive="router-link-active" color="primary">Add</button>
          </mat-expansion-panel>        
        </mat-card-content>
        <button mat-raised-button class="delete" (click)="onDelete()" color="primary">Delete</button>
        <button mat-raised-button class="back" (click)="goBack()">Back</button>
      </div>
    </mat-card>
  </div>
</div>
