<mat-toolbar><span class="title">Add Finesboard</span></mat-toolbar>
<div class="content-wrapper">
  <div class="content">
    <mat-card *ngIf="finesboardForm">
      <form [formGroup]="finesboardForm.form" (ngSubmit)="onSubmitFinesboard()">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
          <mat-error *ngIf="finesboardForm.name.hasError('required')" class="alert alert-danger">
            <div>Required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Currency" formControlName="currency" [errorStateMatcher]="matcher">
          <mat-error *ngIf="finesboardForm.name.hasError('required')" class="alert alert-danger">
            <div>Required</div>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
      <button mat-raised-button (click)="goBack()">Back</button>
    </mat-card>
  </div>
</div>
