/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content-wrapper { padding: 16px 16px 0; display: block; }
.content { 
    display: flex;
    align-items: flex-start;
    max-width: 940px;
    margin: 0 auto;
}
.title {
    padding: 0px 16px;
}
table {
    width: 100%;
    align-self: center;
    padding: 0px 0px 20px;
}
.link-row { cursor: pointer; }
mat-form-field .alert { 
    float: right; 
}
mat-card {
    width: 100%;
    max-width: 820px;
    align-self: center;
    display: flex;
    align-items: flex-start;
}
mat-card form {
    width: 100%;
    align-self: center;
}
mat-card mat-form-field {
    width: 100%;
}
mat-card button {
    float: right;
    clear: left;
    margin-left: 16px !important;
}
a mat-icon { cursor: pointer; }
mat-icon { color: #1f1f1f; }
.table-icon-link { width: 24px; }
.table-icon-button { 
    width: 24px;
}
mat-card mat-expansion-panel {
    width: 100%;
}