<nav>
  <mat-toolbar color="primary">
    <div  *ngIf="isAuthenticated">
        <a *ngFor="let link of links" mat-button routerLink="{{link.route}}">{{link.name}}</a>
    </div>
    <div class="toolbar-right-align-container" *ngIf="isAuthenticated">
      <a mat-button routerLink="/user/configuration">{{username}}</a>
      <span class="divider"> | </span>
      <a mat-button (click)="onLogout()">Logout</a>
    </div>
    <div class="toolbar-right-align-container" *ngIf="!isAuthenticated">
      <a mat-button routerLink="/login">Login</a>
      <span class="divider"> | </span>
      <a mat-button routerLink="/register">Register</a>
    </div>
  </mat-toolbar>
</nav>