<mat-toolbar><span class="title">Login</span></mat-toolbar>
<div class="content-wrapper">
  <div class="content">
    <mat-card *ngIf="loginForm">
      <form [formGroup]="loginForm.form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher" autocomplete="username">
          <mat-error *ngIf="loginForm.username.hasError('required')" class="alert alert-danger">
            <div>Required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" [errorStateMatcher]="matcher" autocomplete="current-password">
          <button mat-icon-button matSuffix type="button" (click)="onToggleHide()">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.password.hasError('required')" class="alert alert-danger">
            <div>Required</div>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </mat-card>
  </div>
</div>
